version: '3.8'
services:
  backend:
    build: .
    ports:
      - "4000:4000"
    volumes:
      - ./:/usr/src/app
    environment:
      - NODE_ENV=development
      - DB_PATH=/usr/src/app/data/dev.db
      - JWT_SECRET=please-change-this
